#body {
  /* screen settinds for test*/
  background-color: lightblue;
  width           : 405px;
  height          : 720px;
}
/* bunner3
################################################################################

    ########  ##     ## ######## ########  #######  ##    ##
    ##     ## ##     ##    ##       ##    ##     ## ###   ##
    ##     ## ##     ##    ##       ##    ##     ## ####  ##
    ########  ##     ##    ##       ##    ##     ## ## ## ##
    ##     ## ##     ##    ##       ##    ##     ## ##  ####
    ##     ## ##     ##    ##       ##    ##     ## ##   ###
    ########   #######     ##       ##     #######  ##    ##
  */

#button {
  padding-top: 1px;
  z-index    : 10000;
  height     : 7vh !important;
  width      : 7vh !important;
  padding    : 0;
  margin     : 0;
}

#button:checked ~ #menu {
  /* show menu*/
  visibility      : visible;
  height          : 50vh;
  width           : 50%;
  background-color: red;
}

#button:empty ~ #anotherCONTENT {
  margin-top: -7.5vh;
}

#button:checked ~ #anotherCONTENT {
  margin-top: 0;
}
/*
################################################################################


################################################################################

    ##     ## ######## ##    ## ##     ##
    ###   ### ##       ###   ## ##     ##
    #### #### ##       ####  ## ##     ##
    ## ### ## ######   ## ## ## ##     ##
    ##     ## ##       ##  #### ##     ##
    ##     ## ##       ##   ### ##     ##
    ##     ## ######## ##    ##  #######
  */
#menu {
  /* hide menu */
  visibility: hidden;
  z-index   : 1000;
  margin-top: -7.5vh;
}

#upperCOL {
  margin-top: 7.5vh;
}

#abc {
  padding-top: 80vh;
}
/*
################################################################################


################################################################################

      ######    #######   ##    ##  ########  ########  ##    ##  ########
     ##    ##  ##     ##  ###   ##     ##     ##        ###   ##     ##
     ##        ##     ##  ####  ##     ##     ##        ####  ##     ##
     ##        ##     ##  ## ## ##     ##     ######    ## ## ##     ##
     ##        ##     ##  ##  ####     ##     ##        ##  ####     ##
     ##    ##  ##     ##  ##   ###     ##     ##        ##   ###     ##
      ######    #######   ##    ##     ##     ########  ##    ##     ##
 -->
*/
#anotherCONTENT {
  width           : 100%;
  background-color: green;
}
/*
################################################################################
*/