#body {
  /* screen settinds for test*/
  background-color: lightblue;
  width           : 405px;
  height          : 720px;
}
/* bunner3
################################################################################

    ########  ##     ## ######## ########  #######  ##    ##
    ##     ## ##     ##    ##       ##    ##     ## ###   ##
    ##     ## ##     ##    ##       ##    ##     ## ####  ##
    ########  ##     ##    ##       ##    ##     ## ## ## ##
    ##     ## ##     ##    ##       ##    ##     ## ##  ####
    ##     ## ##     ##    ##       ##    ##     ## ##   ###
    ########   #######     ##       ##     #######  ##    ##
  */

#button {
  height          : 7vh !important;
  width           : 7vh !important;
  background-color: red;
}

#button:checked ~ #aoa {
  height          : 10vh;
  width           : 10vh;
  background-color: red;
}
/*
################################################################################
  */