#body {
  /* screen settinds for test*/
  background-color: lightblue;
  width           : 405px;
  height          : 720px;
}
/* bunner3
################################################################################

    ########  ##     ## ######## ########  #######  ##    ##
    ##     ## ##     ##    ##       ##    ##     ## ###   ##
    ##     ## ##     ##    ##       ##    ##     ## ####  ##
    ########  ##     ##    ##       ##    ##     ## ## ## ##
    ##     ## ##     ##    ##       ##    ##     ## ##  ####
    ##     ## ##     ##    ##       ##    ##     ## ##   ###
    ########   #######     ##       ##     #######  ##    ##
  */
#button {
  padding-top: 1px;
  z-index    : 3;
  height     : 6vh !important;
  width      : 6vh !important;
  padding    : 0;
  margin     : 0;
}

#button:checked ~ #menu {
  /* show menu*/
  visibility      : visible;
  height          : 18vh;
  /* height = menuBAR.height * menuBAR.number */
  width           : 50%;
  background-color: red;
  margin-top      : -23vh;
  /* margin-top = self.height + (aCONTENT).height */
}

#button:checked ~ #anotherCONTENT {
  padding-top: 18vh;
}
/*
################################################################################


################################################################################

    ##     ## ######## ##    ## ##     ##
    ###   ### ##       ###   ## ##     ##
    #### #### ##       ####  ## ##     ##
    ## ### ## ######   ## ## ## ##     ##
    ##     ## ##       ##  #### ##     ##
    ##     ## ##       ##   ### ##     ##
    ##     ## ######## ##    ##  #######
  */

#menu {
  /* hide menu */
  visibility: hidden;
  z-index   : 2;
  margin-top: -2px;
}

#upperCOL {
  z-index   : 2;
  border-top: 2px solid black;
}

.menuBAR {
  z-index      : 2;
  width        : 100%;
  height       : 6vh;
  border-bottom: 2px solid black;
}

#abc {
  margin-top: 80vh;
}
/*
################################################################################


################################################################################

      ######    #######   ##    ##  ########  ########  ##    ##  ########
     ##    ##  ##     ##  ###   ##     ##     ##        ###   ##     ##
     ##        ##     ##  ####  ##     ##     ##        ####  ##     ##
     ##        ##     ##  ## ## ##     ##     ######    ## ## ##     ##
     ##        ##     ##  ##  ####     ##     ##        ##  ####     ##
     ##    ##  ##     ##  ##   ###     ##     ##        ##   ###     ##
      ######    #######   ##    ##     ##     ########  ##    ##     ##
 -->
*/

#anotherCONTENT {
  z-index         : 1;
  margin-top      : -0.6vh;
  width           : 100%;
  background-color: green;
}

#aCONTENT {
  /* do not make auto/inherit */
  height : 5vh;
  z-index: 1;
}
/*
################################################################################
*/