#body {
  /* screen settinds for test*/
  background-color: lightblue;
  width           : 405px;
  height          : 720px;
}
/*################################################################################
    ########   ##     ##  ########  ########   #######   ##    ##
    ##     ##  ##     ##     ##        ##     ##     ##  ###   ##
    ##     ##  ##     ##     ##        ##     ##     ##  ####  ##
    ########   ##     ##     ##        ##     ##     ##  ## ## ##
    ##     ##  ##     ##     ##        ##     ##     ##  ##  ####
    ##     ##  ##     ##     ##        ##     ##     ##  ##   ###
    ########    #######      ##        ##      #######   ##    ##             */

#button {
  padding-top: 1px;
  z-index    : 3;
  height     : 6vh !important;
  width      : 6vh !important;
  padding    : 0;
  margin     : 0;
}

#button:checked ~ #menu {
  /* show menu*/
  visibility      : visible;
  height          : 18vh;
  /* height = menuBAR.height * menuBAR.number */
  width           : 100%;
  background-color: red;
  margin-top      : -23vh;
  /* margin-top = self.height + (aCONTENT).height */
}

#button:checked ~ #anotherCONTENT {
  padding-top: 18vh;
}
/*
################################################################################
################################################################################
    ##     ##  ########  ##    ##  ##     ##
    ###   ###  ##        ###   ##  ##     ##
    #### ####  ##        ####  ##  ##     ##
    ## ### ##  ######    ## ## ##  ##     ##
    ##     ##  ##        ##  ####  ##     ##
    ##     ##  ##        ##   ###  ##     ##
    ##     ##  ########  ##    ##   #######       */
#menu {
  /* hide menu */
  visibility: hidden;
  z-index   : 2;
  margin-top: -2px;
}

.mBAR {
  height: 6vh;
}

.uCOL {
  border-top: 1px solid black;
}

.menuBAR {
  padding-top  : 1.3vh;
  font-size    : 2vh;
  text-align   : center;
  z-index      : 2;
  height       : inherit;
  border-bottom: 1px solid black;
}
/*##############################################################################
################################################################################
      ######    #######   ##    ##  ########  ########  ##    ##  ########
     ##    ##  ##     ##  ###   ##     ##     ##        ###   ##     ##
     ##        ##     ##  ####  ##     ##     ##        ####  ##     ##
     ##        ##     ##  ## ## ##     ##     ######    ## ## ##     ##
     ##        ##     ##  ##  ####     ##     ##        ##  ####     ##
     ##    ##  ##     ##  ##   ###     ##     ##        ##   ###     ##
      ######    #######   ##    ##     ##     ########  ##    ##     ##         */
#anotherCONTENT {
  z-index         : 1;
  margin-top      : -0.6vh;
  width           : 100%;
  background-color: green;
}

#aCONTENT {
  /* do not make auto/inherit */
  height : 5vh;
  z-index: 1;
}
/*################################################################################*/